@model EmiCerti.Data.Project
@{
    ViewData["Title"] = Model.Name;
}


<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <img src="@Model.ImageUrl" alt="@Model.ImageUrl" style="height:250px;" class="img-rounded img-responsive" />
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 alert alert-success">
        Website URL: <a href="@Model.WebSite" target="_blank">@Model.WebSite</a> <br />
        Created At: @Model.CreatedAt.ToLocalTime() <br />
        Location: <b>@Model.Location</b> <br />
        Project Type: <b>@Model.ProjectType</b> <br />
        Offset Category: <b>@Model.OffsetCategory</b> <br />
        Protocol: <b>@Model.Protocol</b> <br />
        Certifier: <b>@Model.Certifier</b> <br />
        Verifier: <b>@Model.Verifier</b> <br />
        Start Period Reductions: <b>@Model.ReductionsPeriodStart</b> <br />
        End Period Reductions: <b>@Model.ReductionsPeriodEnd</b> <br />
        Reductions (tCO₂e): <b>@Model.ReductionstCO2e</b> <br />
        Token Id: 0.0.<b>@Model.TokenId</b> <br />
        Token symbol: <b>@Model.TokenSymbol</b> <br />
        Token quantity: <b>@Model.TokenQuantity</b> <br />
        Expiration date (for transactions): <b>@Model.Expiration.GetValueOrDefault().ToLocalTime()</b> <br />
    </div>
</div>

@if(ViewBag.Status != null)
{
    <p class="alert alert-success">
            ViewBag.Status
    </p>
}

    @using(Html.BeginForm("ApproveProject","Admin",FormMethod.Post,new { id="form_donation" }))
        {
            <input type="hidden" value="@Model.Id" name="IdProject" />
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 text-justify">
                    <br />
                    <input type="submit" value="Approve project" class="btn btn-success" />
                </div>
            </div> 

        }
